.sliderMovies .imgSlider{
  width: 100%;
  filter: brightness(35%);
}

.sliderMovies .txtTitle{
  font-family: Quicksand,sans-serif;
  font-weight: 900;
  margin: auto;
  position: absolute;
  height: 20px;
  max-width: 900px;
  left: 0;
  bottom: 20%;
  right: 0;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

  @media (max-width: 576px) {
    .sliderMovies .txtTitle {
      font-size: 20px;
      line-height: 20px;
    }
  }

.boxSliderMovies{
  position: relative;
  display: block;
}

  @media (max-width: 500px) {
    .boxSliderMovies {
      padding-top: 75px;
    }
  }

.sliderMovies img.slideDesktop{
  display: block;
}

  @media (max-width: 768px) {
    .sliderMovies img.slideDesktop {
      display: none;
    }
  }

  .sliderMovies img.slideMobile{
    display: none;
  }
  
    @media (max-width: 768px) {
      .sliderMovies img.slideMobile {
        display: block;
      }
    }