html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.sliderMovies .sliderCard {
    position: relative;
    display: block;
    padding: 20px;
}

.sliderMovies .slick-dots{
    bottom: -55px;
}

.sliderMovies .slick-dots li button:before{
    font-size: 20px;
}

.mt-7{
    margin-top: 7rem!important;
}

.bg-light2{
    background: #e7edef;
}